* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    height: 40px;
}

.header {
    background-color: yellow;
}

.navigation {
    display: flex;
    margin: 0;
    align-items: center;
    height: 40px;
}

.navigation__item {
    list-style: none;
    margin-right: 16px;
}

.footer {
    background-color: green;
    display: flex;
}

.footer_text {
    margin: auto;
}

.content {
    display: flex;
    flex-grow: 1;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    flex-grow: 1;
}

.sidebar {
    width: 200px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    line-height: 40px;
    list-style: none;
}

.news__list {
    align-self: flex-start;
    margin: 0;
}