.header, .footer {
    height: 50px;
}

.header {
    background-color: yellow;
}

.footer {
    background-color: green;
    clear: both;
}

.content, .sidebar {
    height: 500px;
}

.content {
    width: 80%;
    float: left;
    background-color: pink;
}

.sidebar {
    width: 20%;
    float: right;
    background-color: grey;
}